.tabla_usuario_A{
    left: 28%;
    top: 20%;
    border-collapse: collapse;
    width: 20%;
}

.fila_tabla{
    border: #12047E 3px solid;   
}

.celda_num_A{
    text-align: right;
}

.tabla_usuario_B{
    left: 64%;
    top: 20%;
}



