.tabla_usuario_A{
    left: 28%;
    top: 20%;
    border-collapse: collapse;
    width: 20%;
}

.fila_tabla{
    border: #12047E 3px solid;   
}

.celda_num_A{
    text-align: right;
}

.tabla_usuario_B{
    left: 64%;
    top: 20%;
}

.bloque_admin{
    top: 70%;
    height: 25%;
}

.boton_usuarios{
    position: absolute;
    top: 12%;
    left: 10%;
    width: 80%;
    height: 20%;
    background-color: #FFD700;
    color: black;
    border-radius: 1em;
    border: 0;
    transition: 0.5s;
}

.boton_usuarios:hover{
    background-color: 	#DAA520;
}

.boton_barajas{
    top: 39%;
}

.boton_introducir_resultado{
    position: absolute;
    top: 67%;
}




