.cuadro_principal{
    top: 32%;
    left: 15%;
    width: 50%;
}
.cuadro_agregar_baraja{
    top: 16%;
    left: 15%;
    height: 10%;
    width: 50%;
}

.titulo_agregar_baraja{
    color: #12047E;
    position: absolute;
    text-align: center;
    width: 100%;
    font-size: 145%;
}

.agregar_baraja_2{
    position: absolute;
    left: 35%;
    top: 50%;
    width: 100%;
}


.boton_agregar_baraja{
    position: absolute;
    left: 40%;
    width: 20%;
    height: 80%;
}


.tabla_barajas{
    position: absolute;
    border: #12047E 5px solid;
    background-color: #0C9FE0;
    color: white;
}

.td.celda_num{
    color: red;
    background-color: black;
}
