.cuadro_principal{
    top: 20%;
    left: 15%;
    width: 60%;
    height: 40%;
    font-size: 110%;
}

.bloque_baraja_1{
    position: absolute;
    top: 8%;
    left: 15%;
    font-size: 130%;
}

.bloque_baraja_2{
    left: 65%;
}

.bloque_victorias_main{
    position: absolute;
    top: 40%;
    left: 15%;
}

.bloque_derrotas_main{
    left: 65%;
}

.bloque_victorias_side{
    top: 60%;
}

.boton_validar_resultado{
    width: 15%;
    height: 10%;
    left: 83%;
    top: 85%;
}

.boton_eliminar{
    left: 12%;
}

.menu_seleccion_baraja{
    font-size: 80%;
    width: 100%;
}

.menu_seleccion_numerico{
   color: #134BEA;
   width: 35%;
}

.menu_seleccion_pequenio{
    width: 60%;
}